/* Variables de color */
:root {
    --primary-color: #3b5998; /* Azul oscuro */
    --secondary-color: #8b9dc3; /* Azul claro */
    --accent-color: #f7f7f7; /* Blanco */
    --font-color: #333; /* Gris oscuro */
    --nav-bg-color: #4a69bd; /* Azul medio */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: var(--accent-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-top: 20px;
}
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 0.8em;

}

/* Estilos de navegación */
nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 1em;
}

nav ul li:hover a {
    text-decoration: underline;
    color: black;
}

.categoria a {
    text-decoration: none;
    color: inherit;
}

/* Sección de categorías */
.categorias, #acercaDe, #contacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--primary-color);
}

.categoria {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
}

#acercaDe h4, #contacto h4{
    color: var(--primary-color);
}

.contenido {
    color: black;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 15px;
    padding: 20px;
}

.categoria:hover {
    transform: scale(1.05);
}

.categoria img {
    width: 14em;
}

.categoria h3 {
    color: var(--primary-color);
    padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .categorias {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}


/* cooperativo.html */
.juegos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.juego {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 225px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    padding: 20px;
}

.juego:hover {
    transform: scale(1.05);
}

.juego img {
    width: 14em;
}

.juego h3 {
    color: var(--primary-color);
    padding: 10px;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .juegos {
        flex-direction: column;
        align-items: center;
    }
}


header h2 {
    animation: crashAndBounce 2s ease-in-out;
}

.rotate-on-hover:hover {
    display: inline-block;
    animation: rotate 1s infinite;
    color: purple;
}

#contacto-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#contacto-button:hover {
    transform: scale(1.1);
    background-color: var(--nav-bg-color); /* Replace with your desired hover color */
}

#limpiar-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#limpiar-button:hover {
    transform: scale(1.1);
    background-color: rgb(92, 92, 92); /* Replace with your desired hover color */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
